body {

   display: flex;
  flex-direction: column;
  fustify-items: flex-started;
  align-items: center;
  height: 100vh;
  margin: 0;
  text-align: center

   background-image:url;
   background-size:cover;
   background-repeat:no-repeat;
   bakground
